.header {
  height: 200px;
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.createTaskForm {
  margin: auto 0;
  width: 60vw;
  max-width: 46em;
  
  position: absolute;
  top: 100%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  column-gap: .5em;
}

.createTaskForm input {
  flex-grow: 1;
  padding: 1rem;
  
  border: 1px solid var(--gray-700);
  border-radius: .5rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.createTaskForm input:focus {
  outline: 0;
  border: 1px solid var(--purple);
}

.createTaskForm button {
  display: flex;
  align-items: center;
  column-gap: .5em;
  padding: 1rem;
  
  border: none;
  border-radius: .5rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  cursor: pointer;
}

.createTaskForm button:hover {
  background-color: var(--blue);
}

.createTaskForm button:disabled {
  background-color: var(--gray-400);
  opacity: .75;
  cursor: not-allowed;
}

.board {
  margin: 4em auto 0;
  padding-top: 2em;
  width: 60vw;
  max-width: 46em;
}

.board.empty {
  border-radius: .5em;
  border-top: 1px solid var(--gray-400);
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: .875em;
}

.statsCreatedTasks {
  color: var(--blue);
}

.statsDoneTasks {
  color: var(--purple-dark);
}

.statsQuantity {
  margin-left: .5em;
  color: var(--gray-200);
  background-color: var(--gray-400);
  border-radius: 1em;
  padding: .125em .5em;
}

.tasks {
  margin-top: 1.5em;
}

.emptyBoardMessage {
  text-align: center;
}

.emptyBoardMessage img {
  margin-bottom: 1em;
}